DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=rangsit_social
DB_PORT=3306
JWT_SECRET=super-secret-change-me
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NODE_ENV=development
